<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CompatibilityDiagnostics" ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1302" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1306" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1309" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1801" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Analyzers" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Analyzers">
    <Rule Id="RS1007" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">    
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1822" Action="None" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1026" Action="None" />
    <Rule Id="SA1822" Action="None" />
    <Rule Id="SA1008" Action="Info" />
    <Rule Id="SA1009" Action="Info" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1216" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1311" Action="None" />
    <Rule Id="SA1405" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>